.story__container {
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 10%;
  place-items: center;
  
}
.story__left img {
  width: 28rem;
  height: 30rem;
  background-position: left;
  object-fit: cover;
  transition: var(--transition);
  cursor: pointer;
}
.story__left img:hover {
  transform: scale(1.1);
}
.story__right h3{
  font-size: 2rem;
  line-height: 1.2;
  color: var(--color-primary-varient);
}
.story__right p {
  color: var(--color-black-varient);
  margin: 2rem 0;
  font-size: 1rem;
}

/* media queries for medium devices */
@media screen and (max-width: 1024px) {
  .story__right p {
    margin-top: 1rem;
    font-size: 0.6rem;
  }
}

/* media queries for small devices */
@media screen and (max-width: 700px) {
  .story__container {
    grid-template-columns: 1fr;
  }
}
