@import url("https://fonts.googleapis.com/css2?family=Domine:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --color-primary: #e73c08;
  --color-primary-varient: #f67423;
  --color-bg-1: #000e17;
  --color-bg-2: #001e2d;
  --color-bg-3: #002d43;
  --color-bg-4: #002b45;
  --color-light: #e6e9eb;
  --color-btn: #4875fe;
  --color-secondary: #351e43;
  --color-white: hsl(0, 0%, 90%);
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Domine", serif;
  background: var(--color-bg-1) url("./images/bg_texture.png");
  color: var(--color-light);
  line-height: 1.7;
}

h1,
h2 {
  line-height: 1.1;
  font-weight: 400;
}

h1 {
  color: var(--color-white);
  font-size: 2.6rem;
}

h2 {
  font-size: 1.8rem;
}

a {
  color: var(--color-light);
  transition: var(--transition);
}

a:hover {
  color: var(--color-primary);
  font-weight: 700;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 2160px;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.8rem;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-varient)
  );
  color: var(--color-white);
  font-weight: 500;
  margin-top: 2rem;
  outline: none;
  border-radius: 1.8rem;
  transition: var(--transition);
  box-shadow: var(--shadow-red);
  cursor: pointer;
}
.btn:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

section {
  margin-top: 9rem;
}

/* heading */
.section__head {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.section__head span {
  background: var(--color-secondary);
  display: grid;
  place-items: center;
  padding: 0.8rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: var(--color-primary-varient);
}
.section__head h2 {
  color: var(--color-primary-varient);
}

/* card */
.card {
  background: var(--color-bg-2);
  border: 1px solid transparent;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0 3rem 0 3rem;
  margin-top: 2rem;
  transition: var(--transition);
  cursor: pointer;
}
.card:hover {
  background: transparent;
  border-color: var(--color-btn);
}

.card span {
  width: 3rem;
  height: 3rem;
  background: var(--color-secondary);
  color: var(--color-primary-varient);
  font-size: 1.5rem;
  padding: 0.8rem;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
  margin-inline: auto;
}
.card small {
  margin-top: 1rem;
  display: block;
  font-weight: 300;
}

.header {
  margin-top: 5rem;
  height: 20rem;
  overflow: hidden;
  border-bottom: 1px solid var(--color-bg-2);
}
.header__container-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
  background: #000e17;
}
.header__container-bg {
  position: absolute;
  width: 100%;
}
.header__container-bg img {
  opacity: 0.5;
}
.header__container-content {
  position: relative;
  width: 45%;
  margin: 0 auto;
  text-align: center;
}
.header__container-content h2 {
  color: var(--color-primary-varient);
  margin-bottom: 1.5rem;
}
.header__container-content p {
  color: #aec0cd;
}

/* media queries for medium devices */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .header__container-content {
    width: 75%;
  }
}

/* media queries for small devices */
@media screen and (max-width: 600px) {
  section {
    margin-top: 6rem;
  }
  .header {
    height: fit-content;
  }
  .header__container-content {
    width: var(--container-width-md);
    padding: 3rem 0;
  }
}
